@import "./Themes";

.background-img{
    display: none;
    @media screen and (min-width: 1000px) {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        width: 50%;
        height: 585px;
        background-image: url('../media/home.jpg');
        background-repeat: round;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-attachment: fixed;
        .subhead-container-overlay{
            height: 100%;
            background-color: rgba(102, 102, 102, 0.5);
        }
    }
    @media screen and (min-width: 1080px) {
        height: 550px;
    }
    @media screen and (min-width: 1160px) {
        height: 500px;
    }
}

.intro-container{
    @include introContainer();
    padding-bottom: 0px;
    .about-img{
        display: block;
        width: 100%;
        height: auto;
        margin: 0px;
        @media screen and (min-width: 1000px) {
            display: none;
        }
    }
    .one{
        @media screen and (min-width: 1000px) {
            float: right;
            margin-top: 40px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
    }
}

.subhead-container-browser{
    display: none;
    @media screen and (min-width: 1000px) {
        display: block;
        background-image: url('../media/home.jpg');
        background-repeat: round;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-attachment: fixed;
        height: 150px;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        .subhead-container-overlay{
            height: 100%;
            background-color: rgba(102, 102, 102, 0.5);
            .subhead-title{
                height: 100%;
                max-width: 1200px;
                margin: auto;
                padding-top: 30px;
                h1{
                    color: #ffffff;
                    text-align: right;
                    margin-right: 50px;
                }
            }
        }
    }
}

.about-container{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
    text-align: center;
    box-sizing: border-box;
    transform: translate(-0%, -20%);
    @media screen and (min-width: 1000px) {
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 0px;
        text-align: left;
        vertical-align: top;
        overflow: hidden;
        transform: none;
    }
    .subhead-container-mobile{
        text-align: left;
        max-width: 1200px;
        margin: auto;
        padding: 0px 30px;
        border-bottom: 5px solid #004d00;
        @media screen and (min-width: 1000px) {
            display: none;
        }
    }
    .about-text{
        display: block;
        width: 100%;
        margin: 0px;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
        @media screen and (min-width: 1000px) {
            width: 50%;
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            text-align: left;
            float: right;
        }
    }
}