@import "./Themes";

.intro-container{
    @include introContainer();
}

.subhead-title{
    background-image: url('../media/home.jpg');
    background-repeat: round;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    height: 150px;
    width: 100vw;
    transform: translate(-0%, -100%);
    margin: auto;
    overflow: hidden;
    .title-overlay{
        height: 100%;
        background-color: rgba(255,255,255,0.5);
        .subhead-container{
            height: 100%;
            max-width: 1200px;
            margin: auto;
            padding-top: 30px;
        }
    }
    @media screen and (min-width: 1000px) {
        transform: none;
    }
}

.about-container{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 20px;
    transform: translate(-0%, -25%);
    text-align: center;
    box-sizing: border-box;
    @media screen and (min-width: 1000px) {
        box-sizing: border-box;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        text-align: left;
        overflow: auto;
        transform: none;
    }
}