.claims-intro-container{
    position: relative;
    max-width: 1000px;
    margin: auto;
    padding-top: 60px;
    height: 450px;
}

.claims-intro-textbox{
    float: left;
    text-align: left;
    display: block;
    max-width: 480px;
}

.claims-img{
    max-width: 500px;
    height: auto;
    float: right;
    margin-top: 25px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
}

.claims-container{
    position: relative;
    max-width: 1000px;
    padding: 30px 0px;
    margin: auto;
}

.link{
    position: absolute;
    display: block;
    width: 500px;
    left: 25%;
    border-radius: 10%;
    border-bottom: 8px solid #006600;
    z-index: -100;
}

.one-two{
    top: 0px;
    height: 425px;
    border-left: 8px solid #006600;
}

.two-three{
    top: 425px;
    height: 365px;
    border-right: 8px solid #006600;
}

.three-four{
    top: 790px;
    height: 290px;
    border-left: 8px solid #006600;
}

.four-five{
    top: 1080px;
    height: 295px;
    border-right: 8px solid #006600;
}

.step{
    position: absolute;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 0px;
    text-align: left;
    max-width: 450px;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
}

.one{
    top: 0px;
    left: 0px;
}

.two{
    top: 255px;
    right: 0px;
}

.three{
    top: 650px;
    left: 0px;
}

.four{
    top: 985px;
    right: 0px;
}

.five{
    top: 1225px;
    left: 0px;
}