.header-container{
    max-width: 1200px;
    margin: auto;
    padding: 0px 30px;
    padding-top: 80px;
    border-bottom: 5px solid #004d00;
}

h1{
    font-size: 60px;
    margin: 0px 0px 0px 25px;
}

.claims-intro-container{
    display: flex;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}

.claims-intro-container > div {
    width: 50%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

.claims-img{
    width: 100%;
    height: auto;
    margin-top: 30px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
}

.claims-container{
    position: relative;
    max-width: 1000px;
    padding: 30px;
    margin: auto;
}

.link{
    position: absolute;
    display: block;
    width: 500px;
    left: 25%;
    border-radius: 20%;
    border-bottom: 8px solid #004d00;
    z-index: -100;
}

.one-two{
    top: 130px;
    height: 325px;
    border-left: 8px solid #004d00;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
}

.two-three{
    top: 455px;
    height: 375px;
    border-right: 8px solid #004d00;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}

.three-four{
    top: 830px;
    height: 290px;
    border-left: 8px solid #004d00;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
}

.four-five{
    top: 1125px;
    height: 295px;
    border-right: 8px solid #004d00;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
}

.step{
    position: absolute;
    background-color: #f2f2f2;
    padding: 20px;
    padding-top: 0px;
    text-align: left;
    max-width: 450px;
    z-index: 100;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
}

.step-title{
    background-color: #004d00;
    color: #ffffff;
    width: auto;
    padding-left: 10px;
    margin-left: -45px;
    margin-top: -40px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
}

.one{
    top: 0px;
    left: 0px;
}

.two{
    top: 255px;
    right: 0px;
}

.three{
    top: 660px;
    left: 0px;
}

.four{
    top: 1015px;
    right: 0px;
}

.five{
    top: 1240px;
    left: 0px;
}

.material-icons{
    display: none;
}

@media screen and (max-width: 1000px) {
    .link,
    .one-two,
    .two-three,
    .three-four,
    .four-five{
        display: none;
    }
    .material-icons{
        display: block;
        color: #004d00;
        transform: rotateZ(90deg);
        width: 60px;
        margin: auto;
    }
    .md-60{
        font-size: 60px;
    }
    .step{
        position: relative;
        top: 0px;
        padding-top: 20px;
        margin: auto;
    }
    .img-container{
        display: none;
    }
    .claims-intro-container > div {
        width: 100%;
    }
    h1{
        font-size: 52px;
        margin: 0px;
    }
}

@media screen and (max-width: 700px) {
    h1{
        font-size: 44px;
    }
}