/* Header */
.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 30px;
  padding-top: 80px;
  border-bottom: 5px solid #004d00;
}

h1 {
  font-size: 44px;
  margin: 0px;
}

/* Intro */
.claims-intro-container {
  display: block;
  max-width: 1200px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.claims-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
}

.claims-intro {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 20px;
  -webkit-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.opening-para {
  background-color: #004d00;
  opacity: 0.8;
  width: 90%;
  margin: auto;
  color: #ffffff;
  padding: 5px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Claims process */
.claims-container {
  -webkit-transform: translate(0%, -6%);
          transform: translate(0%, -6%);
}

.link,
.one-two,
.two-three,
.three-four,
.four-five {
  display: none;
}

.step {
  position: relative;
  background-color: #f2f2f2;
  top: 0px;
  padding: 20px;
  padding-top: 20px;
  margin: auto;
  text-align: left;
  max-width: 450px;
  z-index: 100;
  -webkit-box-shadow: 0px 5px 10px 0px lightgray;
  box-shadow: 0px 5px 10px 0px lightgray;
}

.step-title {
  background-color: #004d00;
  color: #ffffff;
  width: 100%;
  padding-left: 10px;
  margin-top: -50px;
  -webkit-box-shadow: 0px 5px 10px 0px lightgray;
  box-shadow: 0px 5px 10px 0px lightgray;
}

.material-icons {
  display: block;
  color: #004d00;
  width: 60px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: auto;
  margin-bottom: 10px;
}

.md-60 {
  font-size: 60px;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 52px;
  }
  .step-title {
    margin-left: -45px;
    width: auto;
  }
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 60px;
    margin: 0px 0px 0px 25px;
  }
  .claims-intro-container {
    margin-bottom: 500px;
  }
  .claims-img {
    position: relative;
    display: inline-block;
    width: 50%;
    height: auto;
    margin-top: 30px;
    float: right;
  }
  .claims-intro {
    width: 50%;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    -webkit-transform: none;
            transform: none;
    float: left;
    text-align: left;
  }
  .opening-para {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  h3 {
    font-weight: 700;
  }
  /* Claims process */
  .claims-container {
    position: relative;
    max-width: 1000px;
    padding: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: auto;
    -webkit-transform: none;
            transform: none;
  }
  .link {
    position: absolute;
    display: block;
    width: 500px;
    left: 25%;
    border-radius: 20%;
    border-bottom: 8px solid #004d00;
    z-index: -100;
  }
  .one-two {
    top: 130px;
    height: 325px;
    border-left: 8px solid #004d00;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
  }
  .two-three {
    top: 455px;
    height: 375px;
    border-right: 8px solid #004d00;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
  }
  .three-four {
    top: 830px;
    height: 290px;
    border-left: 8px solid #004d00;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 0%;
  }
  .four-five {
    top: 1125px;
    height: 295px;
    border-right: 8px solid #004d00;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
  }
  .step {
    position: absolute;
    padding-top: 0px;
  }
  .one {
    top: 0px;
    left: 0px;
  }
  .two {
    top: 255px;
    right: 0px;
  }
  .three {
    top: 660px;
    left: 0px;
  }
  .four {
    top: 1015px;
    right: 0px;
  }
  .five {
    top: 1240px;
    left: 0px;
  }
  .material-icons {
    display: none;
  }
}
/*# sourceMappingURL=Claims.css.map */