@import "./Themes";

/* Header */

.header-container{
    @include titleContainer();
}

h1{
    @include pageTitle();
}

/* Intro */

.explained-intro-container{
    display: block;
    background-image: url('../media/explained.jpg');
    background-repeat: round;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    opacity: 0.8;
    height: auto;
    width: 98.7vw;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
    .explained-overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(102, 102, 102, 0.5);
        border: 1px solid #ffffff;
        .explained-intro{
            display: block;
            height: 100%;
            width: 80%;
            max-width: 800px;
            box-sizing: border-box;
            padding: 10px 30px;
            margin: auto;
            h3{
                text-align: center;
                color: #ffffff;
                text-shadow: 1px 1px 1px rgb(0, 0, 0);
            }
        }
    }
}

/* Article body */

.explained-container{
    display: block;
    max-width: 1200px;
    margin: auto;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    overflow: auto;
    h2{
        font-weight: 500;
        background-color: #004d00;
        color: #ffffff;
        padding: 10px;
    }
}

/* Table */

table{
    max-width: 800px;
    margin: 30px auto;
}

th,td{
    background-color: #f2f2f2;
    padding: 10px;
}

/* CTA */

.explained-cta{
    display: block;
    background-image: url('../media/explained.jpg');
    background-repeat: round;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    opacity: 0.8;
    height: auto;
    width: 98.7vw;
    margin: auto;
    overflow: hidden;
    .explained-overlay{
        height: 100%;
        width: 100%;
        background-color: rgba(102, 102, 102, 0.5);
        border: 1px solid #ffffff;
        .cta-textbox{
            display: block;
            max-width: 1200px;
            margin: auto;
            height: auto;
            box-sizing: border-box;
            padding: 30px;
            overflow: auto;
            text-align: center;
            h2{
                font-weight: 500;
                color: #ffffff;
                text-shadow: 1px 1px 1px rgb(0, 0, 0);
                padding: 10px 0px;
            }
            p{
                color: #ffffff;
                text-shadow: 1px 1px 1px rgb(0, 0, 0);
            }
        }
    }
}

/* Consultation button */

.consultation{
    @include consultationButton();
}