@import "./Themes";

/* Banner */

.banner-header{
    background-image: url('../media/home.jpg');
    background-repeat: round;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: auto;
    overflow: hidden;
    @media screen and (min-width: 1700px) {
        background-size: 100% auto;
    }
    .header-overlay{
        height: 100%;
        background-color: rgba(255,255,255,0.5);
    }
}

.banner-text {
    box-sizing: border-box;
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666666;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;

    .logo-header{
        width: 100%;
        height: auto;
    }

    .tagline {
        font-size: 24px;
        @media screen and (min-width: 700px) {
            font-size: 32px;
        }
        @media screen and (min-width: 1400px) {
            font-size: 40px;
        }
    }
    
    .intro-text{
        display: none;
        @media screen and (min-width: 700px) {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
        @media screen and (min-width: 900px) {
            font-size: 20px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Text */

h1,h2,h3,h4,h5,p{
    font-weight: 200;
}

.btn{
    padding: 20px;
    background: transparent;
    border: 2px solid #666666;
    color: #666666;
    font-size: 16px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    -moz-box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    transition: 0.5s;
    outline: none;
    &:hover{
        background: #666666;
        color: #ffffff;
        cursor: pointer;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transition: 0.5s;
    }
    @media screen and (min-width: 1000px) {
        padding: 25px;
        font-size: 20px;
    }
}

/* Backgrounds and alternating CSS classes */

.intro-background:nth-child(odd){
    background-image: linear-gradient(-175deg, #ffffff 50%, #f2f2f2 50%);
    padding: 30px;
    .link-container{
        .text-box{
            top: 0px;
            left: 0px;
            background-color: #f2f2f2;
            @media screen and (min-width: 1000px) {
                border-left: 3px solid #004d00;
            }
        }
        .decoration{
            background-color: #ffffff;
        }
        .image-container{
            bottom: 0px;
            right: 0px;
        }
    }
}

.intro-background:nth-child(even){
    background-image: linear-gradient(175deg, #f2f2f2 50%, #ffffff 50%);
    padding: 30px;
    .link-container{
        .text-box{
            top: 0px;
            right: 0px;
            background-color: #ffffff;
            @media screen and (min-width: 1000px) {
                border-right: 3px solid #004d00;
            }
            .intro-link{
                .intro-btn{
                    float: right;
                    background-color: white;
                    &:hover{
                        background-color: #004d00;
                    }
                }
            }
        }
        .decoration{
            background-color: #f2f2f2;
        }
        .image-container{
            bottom: 0px;
            left: 0px;
        }
    }
}

.case-studies{
    background-color: #f2f2f2;
    padding: 70px 30px;
}

.testimonials{
    background-image: url('../media/engineering.jpg');
    background-repeat: round;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    @media screen and (min-width: 1150px) {
        background-size: 100% auto;
    }
    .overlay{
        background-color: rgba(102, 102, 102, 0.5);
    }
}

/* Page intros */

.link-container{
    @include homepageContainers();

    .text-box{
        display: none;
        h3{
            font-weight: 200;
        }
        @media screen and (min-width: 1000px) {
            position: absolute;
            display: inline-block;
            width: 50%;
            padding: 0px 25px 25px 25px;
            border-top: 3px solid #004d00;
            z-index: 1;
            @include boxShadow();
        }
        .desc-container{
            display: none;
            @media screen and (min-width: 1000px) {
                display: block;
            }
        }
    }

    .decoration{
        display: none;
        @media screen and (min-width: 1000px) {
            display: block;
            position: absolute;
            width: 50%;
            height: 50%;
            left: 25%;
            top: 25%;
            background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
            /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
            z-index: 0;
        }
    }

    .image-container{
        position: relative;
        display: block;
        width: auto;
        text-align: center;
        z-index: 100;
        transform: translate(-0%, -10%);
        @media screen and (min-width: 850px) {
            transform: translate(-0%, -5%);
        }
        @media screen and (min-width: 1000px) {
            position: absolute;
            display: inline-block;
            width: 60%;
            transform: none;
        }
        .intro-img{
            display: none;
            width: 100%;
            height: auto;
            opacity: 0.8;
            object-fit: cover;
            @include boxShadow();
            @include imageMobileWidth();
            @media screen and (min-width: 1000px) {
                display: block;
            }
        }
        .intro-img-background{
            display: block;
            opacity: 0.6;
            object-fit: cover;
            margin: auto;
            margin-top: 30px;
            background-repeat: round;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            min-height: 250px;
            @include boxShadow();
            @include imageMobileWidth();
            @media screen and (min-width: 1000px) {
                display: none;
            }
        }
        .intro-img-overlay{
            box-sizing: border-box;
            padding: 10px 20px;
            height: 100%;
            min-height: 250px;
            background-color: rgba(102, 102, 102, 0.5);
            h2,h3,hr{
                text-align: left;
                color: #ffffff;
                text-shadow: 1px 1px 1px rgb(0, 0, 0);
            }
        }
    }
}

/* Page links */

.intro-link-mobile{
    position: relative;
    display: block;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    @media screen and (min-width: 1000px) {
        display: none;
    }
    .intro-btn-mobile{
        color: #000000;
        background-color: transparent;
        border: none;
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
        padding: 15px;
        font-size: 20px;
        position: relative;
        @include imageMobileWidth();
        &:hover{
            cursor: pointer;
        }
        span{
            &:after{
                content: '\00bb';
            }
        }
    }
}

.intro-link{
    display: none;
    @media screen and (min-width: 1000px) {
        display: block;
    }
    .intro-btn{
        min-width: 200px;
        width: auto;
        padding: 15px;
        color: #004d00;
        font-size: 20px;
        border: 2px solid #004d00;
        cursor: pointer;
        transition: 0.5s;
        @include boxShadow();
        span{
            display: inline-block;
            position: relative;
            transition: 0.5s;
            &:after{
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
        &:hover{
            color: #ffffff;
            background-color: #004d00;
            border: 2px solid #ffffff;
            transition: 0.5s;
            box-shadow: none;
            span{
                padding-right: 30px;
                &:after{
                    opacity: 1;
                    right: 0;
                }
            }
        }
    }
}

/* Testimonials text */

.testimonials-container{
    position: relative;
    max-width: 1300px;
    height: auto;
    box-sizing: border-box;
    padding: 50px 0px;
    margin: auto;
    .testimonials-text{
        color: #ffffff;
        text-align: center;
        div{
            box-sizing: border-box;
            padding: 0px 30px;
            display: block;
            text-align: left;
            h2{
                font-size: 20px;
            }
            .fa-quote-left,
            .fa-quote-right{
                font-size: 18px;
                transform: rotate(10deg);
            }
            @media screen and (min-width: 850px) {
                h2{
                    font-size: 26px;
                }
                .fa-quote-left,
                .fa-quote-right{
                    font-size: 24px;
                    transform: rotate(10deg);
                }
            }
            @media screen and (min-width: 1000px) {
                display: inline-block;
                width: 33%;
                height: auto;
                text-align: center;
                vertical-align: top;
            }
        }
    }
}

/* Consultation button */

.consultation{
    display: block;
    margin: 30px auto;
    padding: 20px;
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(255,255,255,1);
    -moz-box-shadow: 5px 5px 5px -2px rgba(255,255,255,1);
    box-shadow: 5px 5px 5px -2px rgba(255,255,255,1);
    transition: 0.5s;
    outline: none;
    &:hover{
        background: #ffffff;
        color: #666666;
        cursor: pointer;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transition: 0.5s;
    }
    @media screen and (min-width: 1000px) {
        padding: 25px;
        font-size: 20px;
    }
}