@import "./Themes";

/* Banner */

.banner-img {
    height: 100vh;
    width: 98vw;
    margin: auto;
    opacity: 0.7;
    overflow: hidden;
    margin: auto;
}

.banner-text {
    box-sizing: border-box;
    margin: auto;
    padding: 30px;
    width: 100%;
    max-width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666666;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;

    .logo-header{
        width: 100%;
        height: auto;
    }

    .tagline {
        font-size: 24px;
        @media screen and (min-width: 700px) {
            font-size: 32px;
        }
        @media screen and (min-width: 1400px) {
            font-size: 40px;
        }
    }
    
    .intro-text{
        display: none;
        @media screen and (min-width: 700px) {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
        @media screen and (min-width: 900px) {
            font-size: 20px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1,h2,h3,h4,h5,p{
    font-weight: 200;
}

.btn{
    padding: 20px;
    background: transparent;
    border: 2px solid #666666;
    color: #666666;
    font-size: 16px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    -moz-box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    transition: 0.5s;
    &:hover{
        background: #666666;
        color: #ffffff;
        cursor: pointer;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        transition: 0.5s;
    }
    @media screen and (min-width: 1000px) {
        padding: 25px;
        font-size: 20px;
    }
}

/* Background */

.intro-background{
    background-image: linear-gradient(-175deg, #ffffff 50%, #f2f2f2 50%);
    padding: 30px;
}

.reverse{
    background-image: linear-gradient(175deg, #f2f2f2 50%, #ffffff 50%);
    padding: 30px;
}

/* Page intros */

.link-container{
    @include homepageContainers();

    .text-box{
        position: relative;
        display: block;
        width: auto;
        max-width: 600px;
        margin: auto;
        padding: 0px 25px 25px 25px;
        padding-top: 10px;
        text-align: left;
        z-index: 1;
        h3{
            font-weight: 200;
        }
        @include boxShadow();
        @media screen and (min-width: 1000px) {
            position: absolute;
            display: inline-block;
            width: 50%;
            padding-top: 0px;
        }
    }

    .top-right{
        top: 0px;
        right: 0px;
        border-top: 3px solid #004d00;
        border-right: none;
        @media screen and (min-width: 1000px) {
            border-right: 3px solid #004d00;
        }
    }
    
    .top-left{
        top: 0px;
        left: 0px;
        border-top: 3px solid #004d00;
        border-left: none;
        @media screen and (min-width: 1000px) {
            border-left: 3px solid #004d00;
        }
    }

    .decoration{
        display: none;
        @media screen and (min-width: 1000px) {
            display: block;
            position: absolute;
            width: 50%;
            height: 50%;
            left: 25%;
            top: 25%;
            background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
            /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
            z-index: 0;
        }
    }

    .image-container{
        position: relative;
        display: block;
        width: auto;
        text-align: center;
        z-index: 100;
        transform: translate(-0%, -10%);
        @media screen and (min-width: 850px) {
            transform: translate(-0%, -5%);
        }
        @media screen and (min-width: 1000px) {
            position: absolute;
            display: inline-block;
            width: 60%;
            transform: none;
        }
    }
}

.white{
    background-color: #ffffff;
}

.grey{
    background-color: #f2f2f2;
}

.bottom-right{
    bottom: 0px;
    right: 0px;
}

.bottom-left{
    bottom: 0px;
    left: 0px;
}

/* Page links */

.intro-link-mobile{
    position: relative;
    display: block;
    margin: 0px;
    text-align: center;
    @media screen and (min-width: 1000px) {
        display: none;
    }
    .intro-btn-mobile{
        color: #ffffff;
        background-color: #004d00;
        border: none;
        padding: 15px;
        font-size: 20px;
        position: relative;
        @include imageMobileWidth();
        @include boxShadow();
        &:hover{
            cursor: pointer;  
            box-shadow: none;
        }
        span{
            &:after{
                content: '\00bb';
            }
        }
    }
}

.intro-link{
    display: none;
    @media screen and (min-width: 1000px) {
        display: block;
    }
    .intro-btn{
        min-width: 200px;
        width: auto;
        padding: 15px;
        color: #004d00;
        font-size: 20px;
        border: 2px solid #004d00;
        cursor: pointer;
        transition: 0.5s;
        @include boxShadow();
        span{
            display: inline-block;
            position: relative;
            transition: 0.5s;
            &:after{
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
        }
        &:hover{
            color: #ffffff;
            background-color: #004d00;
            border: 2px solid #ffffff;
            transition: 0.5s;
            box-shadow: none;
            span{
                padding-right: 30px;
                &:after{
                    opacity: 1;
                    right: 0;
                }
            }
        }
    }
}

.float-right{
    float: right;
}

/* Intro images */

.intro-img{
    width: 100%;
    height: auto;
    opacity: 0.8;
    @include boxShadow();
    @include imageMobileWidth();
}