.banner-img {
    height: 100vh;
    width: 99.1vw;
    opacity: 0.7;
    overflow: hidden;
    margin: auto;
}

.banner-text {
    box-sizing: border-box; 
    margin: auto;
    padding: 30px;
    max-width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666666;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.logo-header{
    width: 100%;
    height: auto;
}

h1,h2,h3,h4,h5,p{
    font-weight: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.btn{
    padding: 25px;
    background: transparent;
    border: 2px solid #666666;
    color: #666666;
    font-size: 20px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    -moz-box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    box-shadow: 5px 5px 5px -2px rgba(102,102,102,1);
    transition: 0.5s;
}

.btn:hover{
    background: #666666;
    color: #ffffff;
    cursor: pointer;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transition: 0.5s;
}

.intro-background{
    background-image: linear-gradient(-175deg, #ffffff 50%, #f2f2f2 50%);
    padding: 30px;
}

.reverse{
    background-image: linear-gradient(175deg, #f2f2f2 50%, #ffffff 50%);
}

.container{
    position: relative;
    max-width: 1000px;
    margin: auto;
    height: 670px;
}

.text-box{
    position: absolute;
    display: inline-block;
    width: 50%;
    padding: 0px 25px 25px 25px;
    padding-top: 0px;
    text-align: left;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    z-index: 1;
}

.decoration{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    z-index: 0;
}

.white{
    background-color: #ffffff;
}

.grey{
    background-color: #f2f2f2;
}

.image-container{
    position: absolute;
    display: inline-block;
    width: 60%;
    z-index: 100;
}

.bottom-right{
    bottom: 0px;
    right: 0px;
}

.bottom-left{
    bottom: 0px;
    left: 0px;
}

.top-right{
    top: 0px;
    right: 0px;
    border-top: 3px solid #004d00;
    border-right: 3px solid #004d00;
}

.top-left{
    top: 0px;
    left: 0px;
    border-top: 3px solid #004d00;
    border-left: 3px solid #004d00;
}

.intro-btn{
    min-width: 150px;
    width: auto;
    padding: 15px;
    color: #004d00;
    font-size: 20px;
    border: 2px solid #004d00;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    transition: 0.5s;
}

.intro-btn:hover{
    color: #ffffff;
    background-color: #004d00;
    border: 2px solid #ffffff;
    transition: 0.5s;
}

.intro-btn span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.intro-btn span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.intro-btn:hover span{
    padding-right: 20px;
}

.intro-btn:hover span:after{
    opacity: 1;
    right: 0;
}

.float-right{
    float: right;
}

.intro-img{
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
}

.intro-link{
    text-decoration: none;
    color: #004d00;
    transition: 0.5s;
}

.intro-link:hover{
    color: #ffffff;
    transition: 0.5s;
}