.navbar{
    background: #ffffff;
    width: 100vw;
    height: 65px;
    position: fixed;
    margin-top: 0;
    z-index: 1000;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
    box-shadow: 0px 5px 10px 0px rgba(211,211,211,1);
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    width: 85%;
}

.navbar-logo{
    margin: 5px;
    display: inline-block;
    float: left;
}

.navbar li{
    list-style: none;
    display: inline-block;
    color: #666666;
    margin: 0px 20px;
    font-size: 24px;
}

@media screen and (max-width: 1300px) {
    .navbar ul{
        width: 80%;
    }
    .navbar li{
        margin-top: 3px;
        font-size: 21px;
    }
}

@media screen and (max-width: 1255px) {
    .navbar li{
        margin-top: 5px;
        font-size: 18px;
    }
}

.navbar-link{
    text-decoration: none;
    color: #666666;
}

.navbar li:hover,
.navbar-link:hover{
    cursor: pointer;
    color: #004d00;
    transition: 0.5s;
}